{%- assign meta_block = section.blocks | where: 'type', 'product_meta' | first -%}
{%- assign share_buttons_block = section.blocks | where: 'type', 'share_buttons' | first -%}
{%- assign inventory_block = section.blocks | where: 'type', 'inventory' | first -%}
{%- assign buy_buttons_block = section.blocks | where: 'type', 'buy_buttons' | first -%}

{% if template.name == 'product' %}
  {{ 'product-customize.css' | asset_url | stylesheet_tag }}
  <script src="{{ 'product-customize.js' | asset_url }}" defer></script>
{% endif %}

{%- capture section_settings -%}
{
  "enableHistoryState": true,
  "templateSuffix": {{ product.template_suffix | json }},
  "showInventoryQuantity": {% if inventory_block != blank %}true{% else %}false{% endif %},
  "showSku": {{ meta_block.settings.show_sku | json }},
  "stackProductImages": {{ section.settings.stack_images | json }},
  "showThumbnails": {{ section.settings.show_thumbnails | json }},
  "enableVideoLooping": {{ section.settings.enable_video_looping | json }},
  "inventoryQuantityThreshold": {{ inventory_block.settings.inventory_quantity_threshold | default: 0 }},
  "showPriceInButton": {{ buy_buttons_block.settings.show_price_in_button | json }},
  "enableImageZoom": {{ section.settings.enable_image_zoom | json }},
  "showPaymentButton": {{ buy_buttons_block.settings.show_payment_button | json }},
  "useAjaxCart": {% if settings.cart_type == 'drawer' %}true{% else %}false{% endif %}
}
{%- endcapture -%}
<script>
  // To power the recently viewed products section, we save the ID of the product inside the local storage
  (() => {
    let items = JSON.parse(localStorage.getItem('recentlyViewedProducts') || '[]');
  
    // We check if the current product already exists, and if it does not, we add it at the start
    if (!items.includes({{ product.id }})) {[]
      items.unshift({{ product.id }});
    }
  
    // Then, we save the current product into the local storage, by keeping only the 8 most recent
    try {
      localStorage.setItem('recentlyViewedProducts', JSON.stringify(items.slice(0, 8)));
    } catch (error) {
      // Do nothing, this may happen in Safari in incognito mode
    }
  })();
</script>
{% capture title_and_price %}
{%- for block in section.blocks -%}
  {%- case block.type -%}
    {% when 'product_meta' %}
    {%- render 'product-meta', form: form, block: block, product: product -%}
    <div class="desktop-hide">
      <div class="loox-rating" data-id="{{ product.id }}" data-rating="{{ product.metafields.loox.avg_rating }}" data-raters="{{ product.metafields.loox.num_reviews }}"></div>
    </div>
  {% endcase %}
{% endfor %}
{% endcapture %}
{% capture title_and_price_mobile %}
{%- for block in section.blocks -%}
  {%- case block.type -%}
    {% when 'product_meta' %}
    {%- render 'product-meta-mobile', form: form, block: block, product: product -%}
    <div class="desktop-hide">
      <div class="loox-rating" data-id="{{ product.id }}" data-rating="{{ product.metafields.loox.avg_rating }}" data-raters="{{ product.metafields.loox.num_reviews }}"></div>
    </div>
  {% endcase %}
{% endfor %}
{% endcapture %}
<section
  class="Product Product--{{ section.settings.image_size }}"
  data-section-id="{{ section.id }}"
  data-section-type="product"
  data-section-settings='{{ section_settings }}'>
  <div class="Product__Wrapper">
    {%- capture action_list_items -%}
      {%- if section.settings.enable_image_zoom -%}
        <div class="Product__ActionItem hidden-lap-and-up">
          <button class="RoundButton RoundButton--small RoundButton--flat" aria-label="{{ 'product.slideshow.zoom' | t | escape }}" data-action="open-product-zoom">{% render 'icon' with 'plus' %}</button>
        </div>
      {%- endif -%}

      {%- if share_buttons_block != blank -%}
        <div class="Product__ActionItem hidden-lap-and-up">
          <button class="RoundButton RoundButton--small RoundButton--flat" data-action="toggle-social-share" data-animate-bottom aria-expanded="false">
            <span class="RoundButton__PrimaryState">{% render 'icon' with 'share' %}</span>
            <span class="RoundButton__SecondaryState">{% render 'icon' with 'close' %}</span>
          </button>

          {%- assign share_url = shop.url | append: product.url -%}
          {%- assign twitter_text = product.title -%}
          {%- assign pinterest_description = product.description | strip_html | truncatewords: 15 | url_param_escape -%}
          {%- assign pinterest_image = product.featured_media | img_url: '1024x' | prepend: 'https:' -%}

          <div class="Product__ShareList" aria-hidden="true">
            <a class="Product__ShareItem" href="https://www.facebook.com/sharer.php?u={{ share_url }}" target="_blank" rel="noopener">{%- render 'icon' with 'facebook' -%} Facebook</a>
            <a class="Product__ShareItem" href="https://pinterest.com/pin/create/button/?url={{ share_url }}{% if pinterest_image != blank %}&media={{ pinterest_image }}{% endif %}&description={{ pinterest_description }}" target="_blank" rel="noopener">{%- render 'icon' with 'pinterest' -%} Pinterest</a>
            <a class="Product__ShareItem" href="https://twitter.com/share?{% if twitter_text != blank %}text={{twitter_text}}&{% endif %}url={{ share_url }}" target="_blank" rel="noopener">{%- render 'icon' with 'twitter' -%} Twitter</a>
          </div>
        </div>
      {%- endif -%}
    {%- endcapture -%}
    {%- comment -%} 
                  --------------------------------------------------------------------------------------------------------------------
                  PRODUCT GALLERY
                  -------------------------------------------------------------------------------------------------------------------- 
            {%- endcomment -%}
    <div class="product-gallery-info-container">
      <div class="product-gallery-container">
        <div class="side-product-media-container">
          {% for media in product.media %}
            {{ media
   | image_url: width: 200, height: 200, crop: 'center'
   | image_tag:
   loading: 'eager',
   alt: media,
   class: 'product-media',
   data-url: media,
   data_index: forloop.index0
            }}
          {% endfor %}
        </div>
        <div id="product-media-container-for-scroll">
          <div class="product-media-container">
            {% for media in product.media %}
              {{ media
     | image_url: width: 1000, height: 1000, crop: 'center'
     | image_tag:
     loading: 'eager',
     alt: media,
     class: 'product-media',
     data-url: media,
     data_index: forloop.index0
              }}
            {% endfor %}
            </div>
            </div>
            <div class="dots-container">
              <div class="arrow gallery-left-arrow">{% render 'icon' with 'arrow-left' %}</div>
              {% for media in product.media  limit:7 %}
                <div class="dot" data-index="{{forloop.index0}}"></div>
              {% endfor %}
              <div class="arrow gallery-right-arrow">{% render 'icon' with 'arrow-right' %}</div>
            </div>
      </div>
          {% comment %} PRODUCT INFO {% endcomment %}
      {% render 'product-info' %}
    </div>



  {%- capture product_aside -%}
      {%- comment -%}
      --------------------------------------------------------------------------------------------------------------------
      PRODUCT TABS
      --------------------------------------------------------------------------------------------------------------------
      {%- endcomment -%}

      {%- render 'product-tabs' -%}

      {%- comment -%}
      --------------------------------------------------------------------------------------------------------------------
      COMPLEMENTARY PRODUCTS
      --------------------------------------------------------------------------------------------------------------------
      {%- endcomment -%}

      {%- assign complementary_products_block = section.blocks | where: 'type', 'complementary_products' | first -%}
    {%- endcapture -%}


  <script id="ProductJson-{{ product.id }}" type="application/json">
    {{ product | json }}
  </script>

    {%- if product_aside != blank -%}
      <div class="Product__Aside">
        <span id="ProductAside" class="Anchor"></span>
        {{- product_aside -}}
      </div>
    {%- endif -%}
  </div>
  <div class="mobile_product_tabs">
    {% include 'dynamic-tabs' %}
  </div>
</section>

{%- comment -%} 
      --------------------------------------------------------------------------------------------------------------------
      PHOTO SWIPE
     
      This is the root container for the zoom functionality. Must not be removed, as order element is important.
      -------------------------------------------------------------------------------------------------------------------- 
{%- endcomment -%}

{%- if section.settings.enable_image_zoom -%}
  <div
    class="pswp"
    tabindex="-1"
    role="dialog"
    aria-hidden="true">
    <!-- Background of PhotoSwipe -->
    <div class="pswp__bg"></div>

    <!-- Slides wrapper with overflow:hidden. -->
    <div class="pswp__scroll-wrap">

      <!-- Container that holds slides. Do not remove as content is dynamically added -->
      <div class="pswp__container">
        <div class="pswp__item"></div>
        <div class="pswp__item"></div>
        <div class="pswp__item"></div>
      </div>

      <!-- Main UI bar - MUST KEEP -->
      <div class="pswp__ui pswp__ui--hidden">
        <button
          class="pswp__button pswp__button--prev RoundButton"
          data-animate-left
          title="{{ 'product.slideshow.previous' | t }}">{% render 'icon' with 'arrow-left' %}</button>
        <button
          class="pswp__button pswp__button--close RoundButton RoundButton--large"
          data-animate-bottom
          title="{{ 'product.slideshow.close' | t }}">{% render 'icon' with 'close' %}</button>
        <button
          class="pswp__button pswp__button--next RoundButton"
          data-animate-right
          title="{{ 'product.slideshow.next' | t }}">{% render 'icon' with 'arrow-right' %}</button>
      </div>
    </div>
  </div>
{%- endif -%}

<script>
  window.ShopifyXR=window.ShopifyXR||function(){(ShopifyXR.q=ShopifyXR.q||[]).push(arguments)};
  ShopifyXR('addModels', {{ product.media | where: 'media_type', 'model' | json }});
</script>

{% schema %}
  {
    "name": "Product page",
    "class": "shopify-section--bordered",
    "blocks": [
      {
        "type": "product_meta",
        "name": "Product meta",
        "limit": 1,
        "settings": [
          {
            "type": "checkbox",
            "id": "show_vendor",
            "label": "Show vendor",
            "default": true
          }, {
            "type": "checkbox",
            "id": "show_sku",
            "label": "Show SKU",
            "default": false
          }, {
            "type": "checkbox",
            "id": "show_product_rating",
            "label": "Show product rating",
            "info": "To display a rating, add a product rating app. [Learn more](https://help.shopify.com/en/manual/products/product-reviews/installation)",
            "default": false
          }, {
            "type": "checkbox",
            "id": "show_taxes_included",
            "label": "Show price taxes notice",
            "default": false
          }
        ]
      },
      {
        "type": "variant_selector",
        "name": "Variant selector",
        "limit": 1,
        "settings": [
          {
            "type": "select",
            "id": "selector_mode",
            "label": "Selector type",
            "options": [
              {
                "value": "block",
                "label": "Block"
              }, {
                "value": "dropdown",
                "label": "Dropdown"
              }
            ],
            "default": "dropdown"
          }, {
            "type": "checkbox",
            "id": "show_color_swatch",
            "label": "Show color swatch",
            "default": false,
            "info": "Some colors appear white? [Learn more](http://support.maestrooo.com/article/80-product-uploading-custom-color-for-color-swatch)."
          }, {
            "type": "checkbox",
            "id": "show_color_carousel",
            "label": "Show color carousel",
            "info": "A pop-up selector with variant images for choosing colors. Only enables when color swatch is disabled.",
            "default": false
          }, {
            "type": "page",
            "id": "size_chart",
            "label": "Size chart",
            "info": "Show along option named Size."
          }
        ]
      },
      {
        "type": "share_buttons",
        "name": "Share buttons",
        "limit": 1
      },
      {
        "type": "inventory",
        "name": "Inventory",
        "limit": 1,
        "settings": [
          {
            "type": "range",
            "id": "inventory_quantity_threshold",
            "label": "Inventory quantity threshold",
            "info": "Only show inventory quantity if below threshold. Choose 0 to always show.",
            "min": 0,
            "max": 50,
            "step": 1,
            "default": 0
          }
        ]
      }, {
        "type": "buy_buttons",
        "name": "Buy buttons",
        "limit": 1,
        "settings": [
          {
            "type": "checkbox",
            "id": "show_price_in_button",
            "label": "Show price in add to cart button",
            "default": false
          }, {
            "type": "checkbox",
            "id": "show_payment_button",
            "label": "Show dynamic checkout button",
            "info": "Each customer will see their preferred payment method from those available on your store, such as PayPal or Apple Pay. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
            "default": true
          }
        ]
      }, {
        "type": "description",
        "name": "Description",
        "limit": 1
      }, {
        "type": "liquid",
        "name": "Liquid",
        "settings": [
          {
            "type": "paragraph",
            "content": "This Liquid code will show on the right part of the product page."
          }, {
            "type": "liquid",
            "id": "liquid",
            "label": "Liquid"
          }
        ]
      }, {
        "type": "quantity_selector",
        "name": "Quantity selector",
        "limit": 1,
        "settings": [
          {
            "type": "checkbox",
            "id": "show_label",
            "label": "Show label",
            "default": false
          }
        ]
      }, {
        "type": "text",
        "name": "Text",
        "settings": [
          {
            "type": "paragraph",
            "content": "This text will show on the right part of the product page."
          }, {
            "type": "text",
            "id": "text",
            "label": "Text"
          }
        ]
      }, {
        "type": "store_pickup",
        "name": "Local pickup availability",
        "limit": 1,
        "settings": [
          {
            "type": "paragraph",
            "content": "Show customers where they can pick up the product. [Learn more](https://help.shopify.com/en/manual/shipping/setting-up-and-managing-your-shipping/local-methods/local-pickup#show-pickup-availability-to-your-customers)"
          }
        ]
      }, {
        "type": "@app"
      }, {
        "name": "Content",
        "type": "content",
        "settings": [
          {
            "type": "paragraph",
            "content": "This content will show on the left part, below the product images."
          }, {
            "type": "text",
            "id": "title",
            "label": "Title"
          }, {
            "type": "richtext",
            "id": "content",
            "label": "Content"
          }, {
            "type": "page",
            "id": "page",
            "label": "Content from page",
            "info": "If specified, takes precedence over inline content."
          }
        ]
      }, {
        "name": "Reviews",
        "type": "reviews",
        "limit": 1,
        "settings": [
          {
            "type": "paragraph",
            "content": "To show reviews, install [Shopify Product Reviews](https://apps.shopify.com/product-reviews). This content will show on the left part, below the product images. "
          }
        ]
      }, {
        "name": "Complementary products",
        "type": "complementary_products",
        "limit": 1,
        "settings": [
          {
            "type": "paragraph",
            "content": "To select complementary products, use the Search & Discovery app. [Learn more](https://help.shopify.com/en/manual/online-store/search-and-discovery/product-recommendations#complementary-products)"
          }, {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Buy it with"
          }, {
            "type": "range",
            "id": "products_count",
            "min": 1,
            "max": 10,
            "label": "Products count",
            "default": 1
          }
        ]
      }
    ],
    "settings": [
      {
        "type": "header",
        "content": "Media"
      },
      {
        "type": "paragraph",
        "content": "Learn more about [media types](https://help.shopify.com/en/manual/products/product-media)"
      },
      {
        "type": "select",
        "id": "image_size",
        "label": "Size",
        "options": [
          {
            "value": "small",
            "label": "Small"
          }, {
            "value": "medium",
            "label": "Medium"
          }, {
            "value": "large",
            "label": "Large"
          }, {
            "value": "fill",
            "label": "Fill screen"
          }
        ],
        "default": "large"
      },
      {
        "type": "checkbox",
        "id": "stack_images",
        "label": "Stack images on desktop",
        "default": true
      }, {
        "type": "checkbox",
        "id": "show_thumbnails",
        "label": "Show thumbnails on desktop",
        "default": true
      }, {
        "type": "checkbox",
        "id": "enable_image_zoom",
        "label": "Enable zoom",
        "default": true
      }, {
        "type": "checkbox",
        "id": "enable_video_looping",
        "label": "Enable video looping",
        "default": false
      }
    ]
  }
{% endschema %}